OPENAI_API_KEY=sk-...your-openai-key-here...
WOO_URL=https://tacticoolgun.com
WOO_CONSUMER_KEY=ck_bcfbb2d0d3e03e15359baf92911361925e7e0964
WOO_CONSUMER_SECRET=cs_cc8fa92f6b30d1a9bc842d5736b0b2afcb8e25ae
